<div class="content">
  <div class="card" [formGroup]="form">
    <h2 class="mb-4">Sign-up</h2>
    <div class="form-group">
      <label for="email-input">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="email-input"
        placeholder="email@example.com" [class.is-invalid]="controls.email.invalid && controls.email.touched" />
    </div>

    <div class="form-group">
      <label for="name-input">Full Name</label>
      <input type="text" formControlName="nome" class="form-control" id="name-input" placeholder="Full name" [class.is-invalid]="controls.nome.invalid && controls.nome.touched" />
    </div>

    <div class="form-group">
      <label for="address-input">Address (optional)</label>
      <input type="text" formControlName="endereco" class="form-control" id="address-input" placeholder="Your Address" />
    </div>

    <div class="form-group">
      <label for="address-input">Phone (optional)</label>
      <input type="text" formControlName="telefone" class="form-control" id="address-input" placeholder="Your Phone" />
    </div>


    <div class="form-group">
      <label for="pass-input">Password</label>
      <input type="password" formControlName="senha" class="form-control" id="pass-input"
        placeholder="name@example.com" [class.is-invalid]="controls.senha.invalid && controls.senha.touched"  />
    </div>

    <div class="form-group">
      <label for="conpass-input">Confirm Password</label>
      <input type="password" formControlName="confirmSenha" class="form-control" id="conpass-input"
        placeholder="name@example.com" [class.is-invalid]="controls.confirmSenha.invalid && controls.confirmSenha.touched" />
    </div>
    <div class="mt-4">
      <button (click)="register()" class="btn btn-primary w-100">Register</button>
    </div>
    <p [routerLink]="['/login']" class="text-primary cursor-pointer text-underline mt-3">
      I already have an account
    </p>
  </div>
</div>